<ul>
  <li>Band name: <%= @concert.band %></li>
  <li>Venue: <%= @concert.venue %></li>
  <li>City: <%= @concert.city %></li>
  <li>Date: <%= @concert.date %></li>
  <li>Price: <%= @concert.price %></li>
  <li>Description: <%= @concert.description %></li>
</ul>
